
            <div class="card active text-center after cardinfo my-4" [ngClass]="{active:fairdata.fairId===isactiveid}" (click)="isid(fairdata.fairId)"routerLinkActive="active"  [routerLink]="['/Fairs',fairdata.fairId]">
                <div class="card-body">
                   <h4 class="info">
                    {{fairdata.fairName}}
                   </h4>

                     <div class="bodyinfo">
                     <p>
                        is event : {{fairdata.type}}
                    </p>
                    <p>
                        end date : {{fairdata.endDate |date}}
                    </p>
                    </div>
                </div>
            </div>
        